# C++
**/cmake-build*/
**/build*/
**/*.so
**/*.log*

# Omniverse
**/*.dmp
**/.thumbs

# No USD files allowed in the repo
# **/*.usd
**/*.usda
**/*.usdc
**/*.usdz

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# Docker/Singularity
**/*.sif
docker/cluster/exports/
docker/.container.cfg

# IDE
**/.idea/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
!.vscode

# Outputs
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp
**/data/*
**/docs/*

# Doc Outputs
**/docs/_build/*
**/generated/*

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat

# RL-Games
**/runs/*
**/logs/*
**/recordings/*

# Pre-Trained Checkpoints
/.pretrained_checkpoints/

# Teleop Recorded Dataset
datasets

# Deploy
*.pt
*.onnx
# *.obj
# *.mtl
# *.STL
# *.stl
**/env.yaml
# *.png
*.jpg
*.txt

# Allow exported and model folder
!**/exported/*
!**/model/*
*.pt
*.onnx
hydra/2026-05-22/15-16-35/.hydra/config.yaml
hydra/2026-05-22/15-16-35/.hydra/hydra.yaml
hydra/2026-05-22/15-16-35/.hydra/overrides.yaml
hydra/2026-05-22/15-18-40/.hydra/config.yaml
hydra/2026-05-22/15-18-40/.hydra/hydra.yaml
.gitignore
hydra/2026-05-22/15-19-26/.hydra/config.yaml
hydra/2026-05-22/15-18-40/.hydra/overrides.yaml
hydra/2026-05-22/15-19-26/.hydra/hydra.yaml
hydra/2026-05-22/15-19-26/.hydra/overrides.yaml
hydra/2026-05-22/15-21-02/.hydra/config.yaml
hydra/2026-05-22/15-21-02/.hydra/hydra.yaml
hydra/2026-05-22/15-21-02/.hydra/overrides.yaml
hydra/2026-05-28/09-19-41/.hydra/config.yaml
!**/hydra/*
hydra/**/*.yaml
hydra/**/*.yml
logs/**/*.yaml
logs/**/*.yml
